In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'water_potability.csv')

## data cleaning

In [3]:
data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [4]:
data.head(5)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [5]:
print(data.isnull().sum)
print(data.shape)

<bound method DataFrame.sum of          ph  Hardness  Solids  Chloramines  Sulfate  Conductivity  \
0      True     False   False        False    False         False
1     False     False   False        False     True         False
2     False     False   False        False     True         False
3     False     False   False        False    False         False
4     False     False   False        False    False         False
...     ...       ...     ...          ...      ...           ...
3271  False     False   False        False    False         False
3272  False     False   False        False     True         False
3273  False     False   False        False     True         False
3274  False     False   False        False     True         False
3275  False     False   False        False     True         False

      Organic_carbon  Trihalomethanes  Turbidity  Potability
0              False            False      False       False
1              False            False      False       False
2              False            False      False       False
3              False            False      False       False
4              False            False      False       False
...              ...              ...        ...         ...
3271           False            False      False       False
3272           False             True      False       False
3273           False            False      False       False
3274           False            False      False       False
3275           False            False      False       False

[3276 rows x 10 columns]>
(3276, 10)

In [6]:
data.dropna(inplace=True)

In [7]:
data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000
mean,7.085990,195.968072,21917.441374,7.134338,333.224672,426.526409,14.357709,66.400859,3.969729,0.403282
std,1.573337,32.635085,8642.239815,1.584820,41.205172,80.712572,3.324959,16.077109,0.780346,0.490678
min,0.227499,73.492234,320.942611,1.390871,129.000000,201.619737,2.200000,8.577013,1.450000,0.000000
25%,6.089723,176.744938,15615.665390,6.138895,307.632511,366.680307,12.124105,55.952664,3.442915,0.000000
50%,7.027297,197.191839,20933.512750,7.143907,332.232177,423.455906,14.322019,66.542198,3.968177,0.000000
75%,8.052969,216.441070,27182.587067,8.109726,359.330555,482.373169,16.683049,77.291925,4.514175,1.000000
max,14.000000,317.338124,56488.672413,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000

In [8]:
data['Potability'].value_counts()

0    1200
1     811
Name: Potability, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Conductivity     2011 non-null   float64
 6   Organic_carbon   2011 non-null   float64
 7   Trihalomethanes  2011 non-null   float64
 8   Turbidity        2011 non-null   float64
 9   Potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

data.corrwith(data['Potability'])

In [11]:
import matplotlib.pyplot as plt

In [12]:
import seaborn as sns

In [13]:
# sns.pairplot(data)

In [14]:
#9 beacuse index start with 0
x = data.iloc[:, :9]
y = data['Potability']

In [15]:
x.shape

(2011, 9)

In [16]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [17]:
y.shape

(2011,)

In [18]:
y.head()

3    0
4    0
5    0
6    0
7    0
Name: Potability, dtype: int64

## train_test_split

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, shuffle=True, random_state=98)

In [20]:
x_train.shape

(1809, 9)

In [21]:
x_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
2530,6.172517,187.787017,10498.635154,7.722561,322.521035,467.090425,21.233978,68.163642,4.129985
2314,5.161879,179.636409,18666.563638,5.196133,400.896023,485.311954,14.059708,75.822050,4.320101
1342,8.248703,201.338857,24912.879705,7.877666,389.088844,415.683448,12.842048,51.859151,3.540532
2322,9.160998,241.383097,28170.885101,6.819603,262.572042,568.420568,8.120979,48.259572,3.542528
3227,7.679595,200.072928,32000.843911,7.633725,290.740337,583.608398,16.844509,39.367056,3.297525

In [22]:
x_test.shape

(202, 9)

## DecisionTreeClassifier

In [23]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=None, min_samples_split=2, random_state=0)

In [24]:
DTC_fit = model.fit(x_train, y_train)
DTC_predict = model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(DTC_predict, y_test)

0.599009900990099

## KNeighborsClassifier

In [25]:
from sklearn.neighbors import KNeighborsClassifier
KNN_model = KNeighborsClassifier()

In [26]:
KNN_fit = KNN_model.fit(x_train, y_train)
KNN_predict =KNN_model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(KNN_predict, y_test)

0.5594059405940595

## RandomForestClassifier

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000)

In [28]:
rf_pred = rf.predict(x_test)

In [36]:
print(f"\tTesting Accuracy : {100 * accuracy_score(rf_pred, y_test):.4g}%")

	Testing Accuracy : 73.76%